################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projeto Spotify/.vs
/Projeto Spotify/.vscode
